.grid-lista {

  display: grid;
  list-style: none;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  overflow: auto;
  gap: 2rem;
  padding: 5rem;
  margin: 4.5rem auto auto auto;
}

main, .galeria {
  width: 100%;
  height: 100%;
}

.tarjeta {
  display: flex;
  width: fit-content;
  height: fit-content;
  position: relative;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.5s ease, box-shadow 1s ease;
  transform-origin: center;
  backface-visibility: hidden;
  will-change: transform;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tarjeta:hover {
  transform: scale(1.05);
  box-shadow: 0px -6px 40px rgba(243, 255, 255, .1);
}

.tarjeta img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  object-fit: cover;
  border-radius: .5rem;
}

.flex-descripcion {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  /* Cubre el 100% del ancho */
  height: 100%;
  /* Cubre el 100% de la altura */
  background-color: var(--opacity-null);
  transition: background-color 0.5s ease;
  /* Suaviza la transición del fondo */
  z-index: 2;
  padding: 4rem;
}

.flex-descripcion:hover {
  background-color: var(--opacity-half);
}

.descripcion {
  display: flex;
  justify-content: center;
  margin: 0;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  color: var(--text-color);
  font-size:1vw;
  opacity: 0;
  transform: scale(0.98);
  z-index: 3;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  backface-visibility: hidden;
  will-change: opacity, transform;
  text-shadow:
    0px 1px 20px rgba(2, 2, 2, 1),
      /* Sombra oscura inferior */
    0px -1px 20px rgba(243, 255, 225, .5);
  /* Sombra clara superior */

  white-space: normal;
  text-overflow: ellipsis; /* Agrega puntos suspensivos para texto desbordado */
}

.flex-descripcion:hover .descripcion {
  transform: scale(1.1);
  opacity: 1;
}

.iconos {
  display: flex;
  color: white;
  justify-content: center;
  gap: 1rem;
  margin: 0;
}

.iconos i {
  display: block;
  font-size: 2rem;
  color: #808080;
  background-color: rgba(0, 0, 0, .5);
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0px 1px 20px rgba(2, 2, 2, 1),
  0px -1px 10px rgba(243, 255, 225, .1);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, color 0.3s;
  backface-visibility: hidden;
  will-change: opacity, transform;
  cursor: pointer;
  z-index: 4;
}

.iconos i:hover {
  color: var(--text-color);
}

.flex-descripcion:hover .iconos i {
  opacity: 1;
}

.bg{
  margin-top: 0;
  padding-top: 0;
}
