
<footer class="bg-dark text-white border-top border-primary">
  <div class="container-fluid footer">
    <div class="row align-items-center" style="min-height: 20vh;">

      <div class="col-md-4 d-flex justify-content-md-start ps-5">
        <a href="#">
          <img [src]="logoUrl" alt="LogoGameScope" width="80" height="auto" class="img-fluid">
        </a>
      </div>

      <div class="col-md-4 d-flex justify-content-md-center">
        <p class="mb-0 text-md-end ml-1">&copy; 2024 GameScope. All rights reserved.</p>
      </div>

      <div class="col-md-4 d-flex justify-content-md-end mr-1 pe-5">
        <ul class="list-unstyled">
          <li><a href="#" class="text-primary"> {{text1}} </a></li>
          <li><a href="#" class="text-primary"> {{text2}} </a></li>
          <li><a href="#" class="text-primary"> {{text3}} </a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
