<div class="achievements-container d-inline-flex bg-dark ">
  @if (achievements.length) {
    @for (achievement of achievements; track $index) {
      <div class="achievement-item d-flex flex-column align-items-center">
        <p-rating [ngModel]="value" [stars]="1" [readonly]="true" [cancel]="false"></p-rating>
        <p class="achievement-name">Achievement {{ $index + 1 }}</p>
      </div>
    }
  } @else {
    <p class="no-achievements">Trabaja duro para ganar nuevos logros!.</p>
  }
</div>
