<h1 class="d-flex  text-white modern-font font-size mb-0 mt-0 text">
  {{ videogame?.title }}
</h1>

<h4 class="d-flex justify-content-around">
  <p class="d-flex  text-white  font-size mb-0 mt-0 text">Release Date: {{ videogame?.releaseDate }}</p>
  <p class="d-flex  text-white  font-size mb-0 mt-0 text">
    {{ videogame?.companies}}
  </p>
</h4>

<main>


  <section class="galeria bg-black text-white">
    <div class="d-flex justify-content-around mt-5">
    <!-- Imagen -->
      <div class="grid-item">
        <img [src]="videogame?.image" alt="Videogame Banner" class="img">
      </div>

    <!-- YouTube Player -->
      <div class="video">
        <youtube-player
          [videoId]="videogame!.idVideo"
          [width]="600"
          [height]="400"
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)"
          class="equal-size"
        ></youtube-player>
      </div>





    </div>
  </section>

<section class="videogame-card bg-black text-white mt-3">
  <div class="d-flex justify-content-center">
  <p-card header="{{videogame?.title}}" styleClass="videogame-card">
    <div class="p-d-flex p-jc-between">
      <!-- Rating con p-knob -->
      <div class="p-flex-1">
        <h5>Rating</h5>
        <p-knob
          [ngModel]="videogame?.globalScore"
          [min]="0"
          [max]="5"
          [step]="0.1"
          [disabled]="true"
          size="120"
          styleClass="p-mb-2">
        </p-knob>
        @if (videogame?.globalScore == 0) {
          <h5 class="p-text-center pt-1">This game has not been reviewed</h5>
        } @else {
          <p class="p-text-center">{{ videogame?.globalScore }} / 5</p>
          <button  class="btn btn-primary" [routerLink]="['/videogames', videogame.id, 'reviews']">Reviews</button>
        }
       

      </div>

      <!-- Información de Géneros -->
      <div class="p-flex-1 mt-1">
        <h5>Genres</h5>
        <ul class="p-list-none">
          @for(genre of videogame?.genres; track $index){
            <div>
              <i class="bi bi-caret-right p-mb-1"></i> {{ genre }}
            </div>
          }
        </ul>
      </div>

      <div class="p-flex-1">
        <h5>Platforms</h5>
        <ul class="p-list-none">
          @for(platform of videogame?.platforms; track $index){
            <div>
              <i class="bi bi-caret-right p-mb-1"></i> {{ platform }}
            </div>
          }
        </ul>

      </div>


    </div>
  </p-card>


    <div class="content  d-flex">
      <section class="">{{ videogame?.storyline }}</section>
    </div>

  </div>

</section>



</main>




