<main class="bg-black bg">

  <section class="galeria bg-black text-white">
    <ul class="grid-lista">


      @for (videojuego of videojuegos; track $index){

        <li class="tarjeta">
          <img [src]=videojuego.image alt="Videogame photo">
          <div class="flex-descripcion">
            <p class="descripcion">{{ videojuego.title }}</p>
            <div class="iconos">
              <i class="fa-solid fa-plus" (click)="addVideogame(videojuego)"></i>
              <i class="fa-regular fa-clipboard" routerLink="/videogames/{{videojuego.id}}"></i>
            </div>
          </div>
        </li>

      }


    </ul>
  </section>

</main>
